.container {
  width: 810px;
}

body {
  background: white;
}

header {
/*	text-align: center;*/
  padding-top: 10px;
  text-align: center;
}

header img {
  padding: 1em;
  background: white;
}

header a {
	color: white;
}
footer {
  text-align: center;
  margin-top: 10px;
  width: 810px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

footer a {
	color: white;
}

section {
  margin-top: 1em;
  font-size: 110%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size:125%;
}


/* Navigation */

nav {
  float: right;
}

nav {
  background-color: red;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: white;
}

nav ul li a:hover {
  text-decoration: underline;
}


/* Links */

a {
  color: red;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
