div {
	outline: 1px dashed red;
}
.container {
	padding: 0 15em 0 13em;
	width: 810px;
}
body {
	margin:0;
	padding:0;
	width:100%;
	background:#fff;
	min-width:600px;		/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font: .9em "Century Gothic","Gill Sans",Arial,sans-serif;
}


body {
  background-color: #333;
  border: 3px solid black;
  width: 810px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;/*/*/*
          	padding: 15px;*/*/*/
	font: 1em Times;
}


body 
#header {
  padding-top: 10px;
  border-bottom: 3px solid red;
  text-align: center;
	width: 810px;
	
}

#header img {
  padding: 1em;
  background: white;
	float: left;
}

#header h3 { 
	font-size: 16px;
}
#header h3 a {
	color: red;
	margin-right: -5px;
}
#header a {
	color: white;
}

.rightborder {
	float: right;
	padding: 10px;
	margin: 2px;
}

header h1 strong{
	font: italic bold 70px/1em Tahoma, "Arial Black", Helvetica, sans-serif;
	color: red;
*/	
	text-outline: 2px 2px #ff0000;
/*	margin-right: -2.55em;*/
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 810px;
  margin-left: auto;
  margin-right: auto;
  font: 12px Times, serif;
}

.footer nav {
  float: none;
}

.footer a {
	color: white;
	font-size: 16px;
}

.footer img { 
	padding-top: 16px;
}

section {
  margin-top: 1em;
  font-size: 110%;
  padding: 20px;
  background: white;
}

section h1 {
  font-size:125%;
}
*/

/* Navigation */

nav {
	float: right;
  background-color: red;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: white;
}

nav ul li a:hover {
  text-decoration: underline;
	color: black;
}

*/
/* Links */

a {
  color: red;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: red;
}*/

/* Round corners */

/*.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}*/