<h1>Our Advertising</h1>
<p>Dock Realty, Inc.&nbsp; maximizes the visibility of your Boat Dock or Lift by advertising in the following media:</p>
<blockquote> <p class="center">
Radio * Billboards * Television * Classifieds * Boat Shows * Boating Magazines * Real Estate Guides * Hot Sheets to Marinas * Hot Sheets to Realtors * Web Search Engines</p></blockquote>
<p><img border="0" src="../images/mag_ads.jpg"></p>
<h3>Look for our <strong>Billboards</strong> and Ads around your lake:</h3>
<p><img border="0" src="../images/dockrealty_med.jpg"></p>
<h3>Trade Shows:</h3>
<h3><img border="0" src="../images/trade_show_stl.jpg"></h3>
<h3>Other Marketing:</h3>
<p>For all other advertising or marketing issues, please <a href="mailto:sales@dockrealty.com"> leave
a message for us</a>