<h1>Contact Us</h1>
	<p>To send us an e-mail message, please complete the following information. Make sure your “Subject” line contains a <b>complete</b> description of your comment to help us route you to the proper department. Remember your question or comment is important to us and we will get back to you as soon as possible.</p>
	<%= image_tag("dr_office.jpg", :alt => "Dock Realty", :class => "rightborder") %>
	<p><b>Dock Realty Inc.</b><br/>
				PO Box 8<br/>
				2820 Bagnell Dam Blvd, Suite 5A<br>
				Lake Ozark, MO 65049-0008<br><br>
				Phone: <FONT COLOR="red">(573) 374-8849</FONT><br>
				Toll Free: (866) DOC-RLTY / (866) 362-7589<br>
				Fax: <FONT COLOR="red">(573) 374 9285</FONT><br>
				Toll Free: (866) DOCK-FAX / (866) 362-5329<br>
				<FONT COLOR="red"><a href="mailto:info@dockrealty.com">info@dockrealty.com</a></FONT>
	</p>
