<h1>Dock Realty - Company History</h1>

<%= image_tag("dhotz.jpg", :alt => "Dave Hotz", :size  => "155x200", :class => "floatright" ) %>

<p>Dock Realty was formed in January 2003 as a result of a vision I had to access the entire inventory of previously owned boat docks, slips and lifts available in a selected area.   Home buyers could search the MLS listings or Realtor.com to see available real-estate listings, but no such tools were available in the dock world. Used dock buyers were left having to scan classified ads in papers or making calls to dock companies to check their used inventory which could change daily.  Sellers had no way to cost effectively present their item to sell.   Ads in newspapers where costly and could not show the quality of the item for sale.  Our resultant Dock Realty web site now serves as central place for dock sellers and buyers to come together.</p>

<p>Dock Realty is much more than a listing service, think of us as a concierge service for dock buyers and sellers.  Dock Realty will help in every aspect of the selling and buying process, from photographing the dock to issuing the bill of sale.</p>

<p>Dock Realty is in its seventh year in business and have proudly assisted over 7000 clients over the last eight years. We thank all of you for contributing to our success.</p>

<p>The vision, one URL to access the current inventory of pre-owned boat docks, slips and lifts. The solution, www.dockrealty.com.</p>

<p>Sincerely,<br>
	 Dave Hotz</p>