<h1>Dock Realty Privacy Policy</h1>

<p><b>Terms and Conditions of Use</b><br><br>
Dock Realty, Inc. is committed to protecting the privacy of our customers. The following statement discloses our information gathering and dissemination practices for the dockrealty.com Web site.</p>

<p><b>How is my information used?</b><br><br>
Our primary goal in collecting personal information is to provide you with a customized experience. Dockrealty.com uses information collected from server log files, such as IP addresses, to help diagnose problems with our services, to administer our Web site, and to report and gather aggregate information about site usage and user demographics. Dockrealty.com also uses code included on every page on our site to track the traffic on pages and compile information about users, such as paths through the site, browsers used, time spent on site, frequency of return visits, etc. This system does not garner any person information about our readers, such as names. Dockrealty.com may share aggregated data with advertisers or business partners.<br><br>
	
Dockrealty.com also uses cookies to store and sometimes track information about you. A cookie is a small amount of data that is sent to your browser from a Web service and stored on your computer's hard drive. Dockrealty.com uses cookies to deliver targeted advertising based on your behavior or demographics and to track your number of entries in some of our promotions and contests.</p>
	
<p><b>With whom is my information shared?</b><br><br>
Aggregate information compiled by dockrealty.com  may be shared with advertisers and business partners as well as used by Dock Realty, Inc..</p>

<p><b>Linked Sites</b><br><br>
Please be aware that dockrealty.com's promotional partners, advertisers, sponsors, third-party Internet sites, and content providers accessible through dockrealty.com may have their own privacy and data collection policies and practices. Dockrealty.com is not responsible for any actions or policies of such third parties. Users should check the applicable privacy policies of those third parties when providing personally identifiable information through co-sponsored, affiliated or linked sites.</p>

<p><b>Policy Changes and Questions</b><br><br>
Dockrealty.com reserves the right to change this policy at any time. Please check this page periodically for changes. (The most recent change was made on January 19th, 2003)</p>

<%= link_to "For a link to our terms of use please click here", terms_path %>

<p>Our Address and Contact Information</b><br><br>

Dock Realty, Inc.<br>
PO Box 8<br>
Lake Ozark, MO 65049<br>
(866) DOC-RLTY</p>