<h1>Terms of Use Dock Realty Brokerage Services</h1>
<p>Welcome to dockrealty.com, an interactive online dock and lift
listing  service operated by the Dock Realty Corporation. By using this site, you signify your agreement to all terms, conditions, and notices contained or referenced herein ("Terms and Conditions of Use"). If you do not agree to these Terms and Conditions of Use, please do not use this site.
Dock Realty, Inc.&nbsp; reserves the right, in its sole discretion, to modify, alter or otherwise update these Terms and Conditions of Use at any time. By using this site after notice of such changes is posted, you agree to be bound by the modifications, alterations or updates.</p>
<h2>Linked Sites</h2>
<p>This site may contain links to other sites on the Internet ("Linked Sites").  Dock Realty, Inc. is not responsible for the content, advertising, products or other materials made available on or through any Linked Site. The links to these sites are for your convenience only, and you access them at your own risk.  Dock Realty, Inc.&nbsp; shall not be held responsible or liable, directly or indirectly, for any loss or damage caused or alleged to have been caused to a user in connection with such Linked Sites.</p>
Dock Realty, Inc. welcomes links to this site. You may establish a link to this site, provided that the link does not state or imply any sponsorship or endorsement of your site by Dock Realty, Inc..&nbsp; You may not use on your site any logos, trademarks, service marks, or copyrighted materials appearing on this site, including but not limited to any logos or characters, without the express written consent of the owner of the mark or right. You may not frame or otherwise incorporate into another site the content or other materials on this site without prior written consent.&nbsp;</p>
<h2>Copyright and Trademarks</h2>
<p>Dockrealty.com contains copyrighted material, trademarks and other proprietary information including, text, software, photos, video, graphics, music and sound. All content included on this site, such as text, software, photos, video, graphics, music, sound, and logos, is protected by copyrights, trademarks, and other rights, which are owned and/or controlled by
Dock Realty, Inc. or by other parties. Dock Realty, Inc.&nbsp; owns a copyright in the selection, coordination arrangement and enhancement of such content, as well as the content original to it. Each third-party content provider owns the copyright in content original to it. You may use material from this site only for your own personal, non-commercial use. This site or any portion of this site may not be modified, published, reproduced, duplicated, copied, uploaded, downloaded, posted, transmitted, sold, or otherwise exploited for any commercial purpose that is not expressly permitted by Dock Realty, Inc. or expressly permitted under copyright law. In the event of any permitted copying, redistribution, or publication of copyrighted material, no changes in or deletion of author attribution, trademark legend or copyright notice shall be made. You acknowledge that you do not acquire any ownership rights by downloading copyrighted material.</p>
<h2>Disclaimer</h2>
<p class="disclaimer"> this site is provided by dock realty, inc. on an "as is" basis. dock realty, inc. makes no representations or warranties of any kind, express or implied, as to the operation of the site or the information, content, materials, or products listed on this site. to the full extent permissible by applicable law, dock realty, inc. disclaims all warranties, express or implied, including, but not limited to, implied warranties of merchantability and fitness for a particular purpose.&nbsp; dock realty, inc.. will not be liable for any damages of any kind arising from the use of, or inability to use, this site, including, but not limited to direct, indirect, incidental, punitive, and consequential damages.</p>
<h2>Identification</h2>
<p>You agree to indemnify Dock Realty, Inc. and its officers, directors, employees, agents, distributors, and affiliates from and against any and all third party claims, demands, liabilities, costs, or expenses, including reasonable attorney’s fees, that arise from your use or misuse of this site.</p>

<%= link_to "For our privacy policy, please click here", privacy_path %>

<p>Our Address and Contact Information

Dock Realty, Inc.<br>
PO Box 8<br>
Lake Ozark, MO 65049<br>
(866) DOC-RLTY</p>